body {
    background-color: hotpink;
    color:black
}

header {
    border: SOLID 2PX  white;
    padding: 20PX;
    font-size: 32 px;
    color:aqua:
    margin:0px:
}
section{
    background-color: #0e0685;
    padding-bottom: 80px;
    padding-bottom: 80px;
    display-content:center;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%;
}
h1 {
    font-size: 30px;
}

   p {
    color: rgb(20, 20, 20);
    font-size: 16px;
}